nav {
    height: 4.8rem;
    width: 100vw;
    background: var(--color--nav-background);
    color: var(--color--secondary);
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    border-radius: 20px 20px 0 0;
}

.nav_container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav_links {
    display: flex;
    gap: 6rem;
    align-items: center;
}

.nav_links li {
    padding: 1rem;
    transition: var(--transition);
}

.nav_links li:hover {
    color: #25554D;
}

.nav_links li>a:visited {
    color: #25554D;
}
